/* Coolors Exported Palette - coolors.co/3a2e39-1e555c-f4d8cd-b80c09-0b4f6c */

/* HSL */
$color1: hsla(305%, 12%, 20%, 1);
$color2: hsla(187%, 51%, 24%, 1);
$color3: hsla(17%, 64%, 88%, 1);
$color4: hsla(1%, 91%, 38%, 1);
$color5: hsla(198%, 82%, 23%, 1);

/* RGB */
$color1: rgba(58, 46, 57, 1);
$color2: rgba(30, 85, 92, 1);
$color3: rgba(244, 216, 205, 1);
$color4: rgba(184, 12, 9, 1);
$color5: rgba(11, 79, 108, 1);