/* Coolors Exported Palette - coolors.co/fbfef9-191923-0e79b2-bf1363-f39237 */

/* HSL */
$color1: hsla(96%, 71%, 99%, 1);
$color2: hsla(240%, 17%, 12%, 1);
$color3: hsla(201%, 85%, 38%, 1);
$color4: hsla(332%, 82%, 41%, 1);
$color5: hsla(29%, 89%, 58%, 1);

/* RGB */
$color1: rgba(251, 254, 249, 1);
$color2: rgba(25, 25, 35, 1);
$color3: rgba(14, 121, 178, 1);
$color4: rgba(191, 19, 99, 1);
$color5: rgba(243, 146, 55, 1);