
ul.NavBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.NavBar li {
    float: right;
}

ul.NavBar li a {
    display: block;
    color: whitesmoke;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px 16px;
    text-decoration: none;
}

ul.NavBar li a:hover {
    color: rgba(146, 220, 229, 1);
}

li.Name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    color:grey;

}

/* Portfolio Page */

ul.NavBarPortfolio {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.NavBarPortfolio li {
    float: right;
}

ul.NavBarPortfolio li a {
    display: block;
    color: grey;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px 16px;
    text-decoration: none;
}

ul.NavBarPortfolio li a:hover {
    color: black;
}

div.gallery {
    margin: 1px;
    border: 1px solid #ccc;
    float: left;
    width: 360px;
}
  
div.gallery:hover {
    border: 1px solid #777;
}
  
div.gallery img {
    width: 100%;
    height: auto;
}

/* gallery variations */
div.galleryLeft {
    border: 1px solid #ccc;
    float: left;
    width: 300px;
}