
ul.NavBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

ul.NavBar li {
    float: right;
}

ul.NavBar li a {
    display: block;
    color: rgba(251, 254, 249, 1);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px 16px;
    text-decoration: none;
}

ul.NavBar li a:hover {
    color: rgba(47, 69, 80, 1);
}

li.Name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    color:rgba(251, 254, 249, 1);

}

/* Portfolio Page */
body {
    background-color: #191923;
}

/* NavBar for Portfolio Page */
ul.NavBarPortfolio {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: static;
}

ul.NavBarPortfolio li {
    float: right;
}

ul.NavBarPortfolio li a {
    display: block;
    color: rgba(251, 254, 249, 1);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px 16px;
    text-decoration: none;
}

ul.NavBarPortfolio li a:hover {
    color: rgba(47, 69, 80, 1)
}

/* Photo Gallery on Portfolio */
.responsive {
    float: left;
    width: 24.99999%;
}

div.gallery {
    margin: 1px;
    border: 1px solid #ccc;
}
  
div.gallery:hover {
    border: 1px solid #777;
}
/* This makes the image that is opened in its own window maintain its integrity */  
div.gallery img {
    width: 100%;
    height: auto;
}


/* gallery variations */
div.galleryLeft {
    border: 1px solid #ccc;
    float: left;
    width: 300px;
}



/* Responsive Image Grid */
* {
    box-sizing: border-box;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}
  
  /* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}
  
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    transition: 0.3s;
}

.column img:hover {
    opacity: 0.7;
}
  
  /* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
}
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
}


/* About Page */


.BioImage img {
    width: 45%;
    height: auto;
    float: left;
    padding-left: 25px;
}

.BioImage h2 {
    color: rgba(251, 254, 249, 1);
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    float: right;
    width: 50%;
}

.BioImage p {
    color: rgba(251, 254, 249, 1);
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    width: 50%;
    padding-right: 25px;
    float: right;
}

/* Portfolio Pages */
.MainPhoto img {
    width: 45%;
    height: auto;
    float: left;
    padding-left: 25px;
}

.MainPhoto img .Second{
    width: 45%;
    height: auto;
    float: left;
    padding-top: 15px;
    padding-left: 25px;
}

.MainPhoto h2 {
    color: rgba(251, 254, 249, 1);
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    float: right;
    width: 50%;
}

.MainPhoto p {
    color: rgba(251, 254, 249, 1);
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    float: right;
    width: 50%;
}
/*
div.Divider {
    height: 75%;
    width: 10px;
    background-color: rgba(252, 252, 98, 1);
    margin: auto;
    margin-left: 5px;
    margin-right: 5px;
    
}
*/
